<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servletpack.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sessserve</servlet-name>
        <servlet-class>servletpack.Sessserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminserve</servlet-name>
        <servlet-class>servletpack.Adminserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateEmail</servlet-name>
        <servlet-class>servletpack.ValidateEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUser</servlet-name>
        <servlet-class>servletpack.DelUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelAdmin</servlet-name>
        <servlet-class>servletpack.DelAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sessserve</servlet-name>
        <url-pattern>/Sessserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminserve</servlet-name>
        <url-pattern>/Adminserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateEmail</servlet-name>
        <url-pattern>/ValidateEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUser</servlet-name>
        <url-pattern>/DelUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelAdmin</servlet-name>
        <url-pattern>/DelAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
